<!--imu ros-->

<launch>

    <arg name="type" default="modbus" doc="type [normal, modbus, hmodbus, can, hcan]"/>

    <!-- imu python -->
    <node pkg="wit_ros_imu" type="wit_$(arg type)_ros.py" name="imu" output="screen">
        <param name="port"               type = "str"    value="/dev/ttyUSB0"/>
        <param name="baud"               type = "int"    value="9600"/>
    </node>

	<!--
    <node pkg="wit_ros_imu" type="get_imu_rpy.py" name="get_imu" output="screen">
    </node>

	-->
</launch>

